.bigbox {
    background-color: yellow;
    width: 600px;
}

.pic1 {
    background-image: url(../images/DNut.jpg);
    width: 450px; 
    height: 300px;
    margin: 75px;
}

.pic2 {
    background-image: url(../images/DNut.jpg);
    background-repeat: repeat;
    background-size: 200px;
    width: 450px; 
    height: 300px;
    margin: 75px;
}

.pic3 {
    background-image: url(../images/DNut.jpg);
    background-repeat:no-repeat;
    background-size: 200px;
    background-color:aqua;
    width: 450px; 
    height: 300px;
    margin: 75px;
    background-position: right;
}

.pic4 {
    margin: 75px;
}

.pic5 {
    margin: 75px;
    background-color:aqua;
}