body {
    background-color: whitesmoke
}

.banner {
    background-image:../url();
    background-color: #06396c;
    text-align: center;
    color: #ffffff;
    float: none;
}

.Welcometext {
    margin: 50px 50px;
}

.topright {
    font-size: 15px;
    color:#1f1f48;
    word-spacing:30px;
    margin-top:30px;
float: right;
}

.firstpic {
    float: left;
}

.bedpic{
    float: right;
    
    
}
    
